body {
  background-color: #000;
}

div {
  padding-top: 100px;
  text-align: center;
  color: #fff
}

h1 {
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  div {
    padding-top: 50px;
  }

  h1 {
    font-size: 32px;
  }
}